<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-gridscale-index") %>>
          <a href="/docs/providers/gridscale/index.html">gridscale Provider</a>
        </li>

        <li<%= sidebar_current("docs-gridscale-datasource") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-gridscale-datasource-template") %>>
              <a href="/docs/providers/gridscale/d/template.html">gridscale_template</a>
            </li>
            <li<%= sidebar_current("docs-gridscale-datasource-template") %>>
              <a href="/docs/providers/gridscale/d/storage.html">gridscale_storage</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-gridscale-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-gridscale-resource-dir") %>>
              <a href="/docs/providers/gridscale/r/dir.html">template_dir</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
