<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-gridscale-index") %>>
          <a href="/docs/providers/gridscale/index.html">gridscale Provider</a>
        </li>

        <li<%= sidebar_current("docs-gridscale-datasource") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-gridscale-datasource-ip") %>>
              <a href="/docs/providers/gridscale/d/ip.html">gridscale_ip</a>
            </li>
            <li<%= sidebar_current("docs-gridscale-datasource-network") %>>
              <a href="/docs/providers/gridscale/d/network.html">gridscale_network</a>
            </li>
            <li<%= sidebar_current("docs-gridscale-datasource-sshkey") %>>
              <a href="/docs/providers/gridscale/d/storage.html">gridscale_sshkey</a>
            </li>
            <li<%= sidebar_current("docs-gridscale-datasource-storage") %>>
              <a href="/docs/providers/gridscale/d/storage.html">gridscale_storage</a>
            </li>
            <li<%= sidebar_current("docs-gridscale-datasource-template") %>>
              <a href="/docs/providers/gridscale/d/template.html">gridscale_template</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-gridscale-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-gridscale-resource-ipv4") %>>
              <a href="/docs/providers/gridscale/r/ipv4.html">gridscale_ipv4</a>
            </li>
            <li<%= sidebar_current("docs-gridscale-resource-ipv6") %>>
              <a href="/docs/providers/gridscale/r/ipv6.html">gridscale_ipv6</a>
            </li>
            <li<%= sidebar_current("docs-gridscale-resource-network") %>>
              <a href="/docs/providers/gridscale/r/network.html">gridscale_network</a>
            </li>
            <li<%= sidebar_current("docs-gridscale-resource-server") %>>
              <a href="/docs/providers/gridscale/r/server.html">gridscale_server</a>
            </li>
            <li<%= sidebar_current("docs-gridscale-resource-sshkey") %>>
              <a href="/docs/providers/gridscale/r/sshkey.html">gridscale_sshkey</a>
            </li>
            <li<%= sidebar_current("docs-gridscale-resource-storage") %>>
              <a href="/docs/providers/gridscale/r/storage.html">gridscale_storage</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
